*
{
  margin: 0;
  padding: 0;
}
html, body
{
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: normal;
}
.background
{
  width: 100%;
  height: 100%;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  overflow: auto;
}
.slider
{
  width: 800px;
  height: 400px;
display: inline;
  margin: 100px auto;
  animation: 20s slide  infinite;
}
@keyframes slide {
  25%{
    left: 0%;
  }
  50%{
      left: -100%;
  }
  75%{
      left: -200%;
  }
  100%{
      left: -300%;
  }
}
.nav
{

    width: 150px;
    height: auto;

    position: absolute;
    top: 20%;
    right: 90%;
  }
  .nav a
  {
    text-decoration: none;
    font-size: 28px;
    font-family: verdana;
    font-weight: bold;
    height: 90px;
    margin: 5px 0;
    float: left;
    display: inline-block;
    background-color: black;
    color: white;
    line-height: 90px;
    text-align: center;
    transition: 300ms;
  }

  a.active, .nav a:hover
  {
    background-color: white;
    color: black;
    width: 100%;
  }
  .h1
  {
    font-size: 70px;
    font-family: ravie;
    color: black;
    background-color: red;
  }
